.container {
  display: flex;
  gap: 30px;
  padding: 30px;
}
.borderDiv {
  width: 70px;
  height: 70px;
  border: 3px solid;
  border-radius: 50px;
  border-image: linear-gradient(
    180deg,
    #0485ff -32.14%,
    #7d5cf8 53.24%,
    #ec033f 150%
  );
  border-image-slice: 1;
  /*  border-image-slice 가 없으면 border-image는 먹지않는다. 
  border-radius와 border-image는 동시에 사용 불가능 하기 때문에 
  아래의 background: linear-gradient 를 사용한다.*/
}

.borderDiv2 {
  width: 70px;
  height: 70px;
  border: 3px solid transparent;
  border-radius: 50%;
  padding: 5px;
  /* padding이 border의 값이 된다. */
  background: linear-gradient(
      180deg,
      #0485ff -32.14%,
      #7d5cf8 53.24%,
      #ec033f 150%
    ),
    linear-gradient(270deg, #000, #fff);
  /*  linear-gradient 의 순서를 반대로하면 테두리와 배경색의 위치를 바꿀 수 있다. */
  /* border-image를 대신해 background를 이용해 보더의 색을 투명하게 한 뒤, background에 보더 색을 설정하는 방법. */
  background-origin: border-box;
  /* 배경 이미지를 어느 영역부터 채워나갈지를 정한다. (기본값 : padding-box) */
  background-clip: content-box, border-box;
  /* 배경 이미지나 배경색을 그 박스 중 어디에 넣을 지 정하는 속성입니다. (기본값 : border-box) */
}
